html, body {
	background-color: #FEEFDD;
}
h1 {
	border-left-style: solid;
	border-left-width: 8px;
	border-left-color: #11E0FF;
	border-bottom-style: dashed;
	border-bottom-width: 2px;
	border-bottom-color: #FF0E11;
	color: #114514; /* 特に深い意味は無い */
	display: inline;
}
h1.header, h1.header > a {
	border-left-style: none;
	border-left-width: 0;
	border-bottom-style: none;
	border-bottom-width: 0;
	color: #FF80FF;
	font-style: italic;
	text-decoration: underline;
}
h2 {
	border-left-style: double;
	border-left-width: 12px;
	border-left-color: #11E0FF;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	border-bottom-color: #FF0E11;
	color: #810931; /* 特に深い意味は無い */
	display: inline;
}
a, a:link {
	color: #00CC00;
	text-decoration: underline;
}
a:visited {
	color: #008000;
}
a:focus {
	font-weight: bold;
}
a:hover {
	color: #FF34FF;
	background-color: #DDEFFE;
	text-decoration: underline overline;
}
a:active {
	color: #800080;
	background-color: #DDEFFE;
	text-decoration: none;
}
strong, b {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #DEFF66;
}
em, i {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #77FFFF;
	font-style: italic;
}
u {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #FF77FF;
	text-decoration: none;
}
blockquote {
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #DEDEDE;
	color: #404040;
}
blockquote::before {
	content: "「";
	color: #FF4488;
}
blockquote::after {
	content: "」";
	color: #8844FF;
}
